doctype html
html(lang='en')
    head
        meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        title Horm - RAy Tools
        // CSS
        link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
        link(href='css/materialize.css', type='text/css', rel='stylesheet', media='screen,projection')
        link( rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous")
        link(href='css/style.css', type='text/css', rel='stylesheet', media='screen,projection')

        link( rel="shortcut icon" href="favicon.png")
        link(rel="image_src" href="images/portfolio/modals/m-raytools.jpg")
    body
        .navbar-fixed
            nav.grey.darken-3(role='navigation')
                .nav-wrapper.container
                    a#logo-container.brand-logo(href='/') Horm
                    ul.right.hide-on-med-and-down
                        li
                            a(href='/resume.pdf') Resume
                        li
                            a(href='https://medium.com/@horm') Blog
                    ul#nav-mobile.sidenav
                        li
                            a(href='/resume.pdf') Resume
                        li
                            a(href='https://medium.com/@horm') Blog
                    a.sidenav-trigger(href='#', data-target='nav-mobile')
                        i.material-icons menu

        .container
            .section
                // Icon Section
                h1 RAy Tools
                p Android and iOS native applications for easy microwave link setup. This (android) app was one from my first projects (iOS was later). It was my part time job for RACOM s.r.o. company. They gave me room for using new technologies and new principles. My idea was create native "client" application and REST API for RAy units management but it was not possible. Unfortunately these apps are combination of native calculator (my part) and web based alignment tool (RACOM part).
                ul
                    li
                        a(href="https://play.google.com/store/apps/details?id=job.raytools&hl=cs", target="_blank") Android
                    li
                        a(href="https://itunes.apple.com/cz/app/ray-tools/id1279358257?l=cs&mt=8", target="_blank") iOS
                .container
                    .container
                        img.responsive-img(src="images/portfolio/modals/m-raytools.jpg")


                br
                br
                br



        footer.page-footer.grey.darken-3
            .container
                .row
                    .col.l6.s12
                        h5.white-text Something secret...
                        p.grey-text.text-lighten-4
                            | Are you still here? You are hero! OK, time to tell you something secret. In summer 2018 I've finished Camino de Santiago which is the most popular pilgrimage in the world. It was hard to invest 35 days into walking but this experience was one of the best. I was offline and I had there time for myself and for meeting new people.
                    .col.l3.s12

                    .col.l3.s12
                        h5.white-text Socials
                        ul
                            li
                                a(href='http://twitter.com/horakmat', target='_blank').white-text Twitter
                            li
                                a(href='http://stackoverflow.com/users/5650456/horm?tab=profile', target="_blank").white-text stackoverflow
                            li
                                a(href='http://linkedin.com/in/horakmat', target = '_blank').white-text Linkedin
                            li
                                a(href='http://github.com/Horm', target='_blank').white-text GitHub
                            li
                                a(href='https://medium.com/@horm', target='_blank').white-text Medium
                            li
                                a(href='http://instagram.com/horakmat', target='_blank').white-text Instagram
            .footer-copyright
                .container
                    | Made by Horm

        // Scripts
        script(src='https://code.jquery.com/jquery-2.1.1.min.js')
        script(src='js/materialize.js')
        script(src='js/init.js')
